<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/stylesheets/teams.css">
    <title>Player Cards</title>
  </head>
  <body>
    <h1>Test</h1>

    <nav>
      <div class="nav-wrapper grey darken-1">
        <!-- <a href="#" class="brand-logo right">Logo</a> -->
        <ul id="nav" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/all-star">All-Star</a></li>
        </ul>
      </div>
    </nav>

    <footer class="grey darken-1 page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Carlos Alcantar & Nick D'Errico
        </div>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </body>
</html>
