body {
  background-image: url('http://www.triea.org/wp-content/uploads/2015/09/Basketball-Court_Landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

h1 {
  margin: 0;
}

button {
  position: absolute;
}

.container {
  justify-content: center;
  margin: 0 25vh;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.carousel {
  height: 500px;
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#card {
  border-radius: 7.5px;
  height: 400px;
  width: 250px;
  padding-bottom: 20vh;
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

img {
  border-radius: 7.5px;
  height: 100%;
  width: 100%;
}

#card.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

#card figure {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card .back {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
  text-align: center;
}

.stats {
  background-color: grey;
  border-radius: 7.5px;
  height: 500px;
  width: 250px;
}

.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}