body {
  background-image: url('https://clutchpoints.com/wp-content/uploads/2017/06/nba-map-teams.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.nav-wrapper {
  opacity: .6;
}

footer {
  opacity: .6;
}

h3 {
  color: white;
}