html {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-image: url('https://stats.nba.com/media/img/league/nba-logoman-word-white.svg');
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100vw;
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

h3 {
  margin-left: 25.5vw;
}

form {
  margin-left: 25.5vw;
}